<nav class="bg-white border-black border-b-2 flex justify-between lg:justify-start items-center h-14">
    <!-- Standart Display -->
    <div class="links lg:block w-1/6 md:w-4/6">
        <ul class="menu flex items-center justify-center gap-5">
            <!-- <li><a href="index.html" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute lg:right-36 top-3 right-28">Inicio</a></li> -->

            <li><a href="login.html" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-3 lg:right-10 top-3">Login</a></li>

            <li><a href="favorites.html" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-24 lg:right-36 top-3">Favoritos</a></li>

            <li><a href="profile.html" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-52 lg:right-72 top-3">Perfil</a></li>

            <li><a href="index.html" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-72 lg:right-96 top-3">Inicio</a></li>
        </ul>
    </div>
</nav>