<nav class="bg-white border-black border-b-2 flex justify-between lg:justify-start items-center h-14">
    <!-- Standart Display -->
    <div class="lg:block hidden w-1/6 md:w-4/6">
        <ul class="menu flex items-center justify-center gap-5">

            <li><a href="/login" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-3 lg:right-10 top-3" data-aos="zoom-in" data-aos-duration="800">Login</a></li>

            <li><a href="/favorites" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-24 lg:right-36 top-3" data-aos="zoom-in" data-aos-duration="800">Favoritos</a></li>

            <li><a href="/profile" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-52 lg:right-72 top-3" data-aos="zoom-in" data-aos-duration="800">Perfil</a></li>

            <li><a href="/" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-72 lg:right-96 top-3" data-aos="zoom-in" data-aos-duration="800">Inicio</a></li>
        </ul>
    </div>

    <!-- Mobile Display -->
    <div class="block lg:hidden w-full lg:w-4/6">
        <a href="#" class="link font-bold" id="mobile-menu"><h1 class="text-right relative top-1 right-10 w-full text-3xl"><i class="fas fa-bars"></i></h1></a>
        {{!-- <ul class="mobile-links hidden w-full absolute z-50 left-0 text-center bg-gray-200">

            <li><a href="/login" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-3 lg:right-10 top-3">Login</a></li>

            <li><a href="/favorites" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-24 lg:right-36 top-3">Favoritos</a></li>

            <li><a href="/profile" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-52 lg:right-72 top-3">Perfil</a></li>

            <li><a href="/" class="text-black block px-5 py-1 font-bold transition duration-500 text-lg hover:bg-gray-200 rounded-r-2xl rounded-l-2xl absolute right-72 lg:right-96 top-3">Inicio</a></li>
        </ul> --}}
    </div>
</nav>