<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
</head>
<body>
    <div class="mx-auto overflow-x-hidden">
        {{> navbar}}

        <div class="lg:flex-wrap lg:flex mx-auto w-4/5 mt-16 md:flex md:flex-wrap md:content-between md:justify-center">
            <div class="wish-list mt-10 lg:mx-10 mb-20 pb-10 lg:pb-10 bg-white w-full lg:w-96 md:w-72 md:mr-6 md:-mt-5 relative rounded-l-3xl rounded-r-3xl border-b-4 border-t-4 border-blue-500 shadow-2xl">
                <img src="/assets/img/user-img.png" class="favorite-imgs w-36 mx-auto pt-8 mb-5">
                <!-- <img src="/assets/img/ornaments.png" class="absolute w-20 -top-5 -left-4"> -->
                <h1 class="text-center text-3xl ml-5 mr-5 lg:ml-7 lg:mr-7 font-bold mb-7">Josue</h1>
                <button class="flex mx-auto bg-blue-400 text-white font-bold text-xl px-5 py-2 rounded-l-2xl rounded-r-2xl border-b-4 border-blue-600 hover:bg-blue-600 transition duration 500"><a href="#">Ver perfil</a></button>
                <h1 class=" text-center absolute -bottom-1 w-full font-bold bg-blue-600 text-xl rounded-bl-3xl rounded-br-3xl py-2 text-white"></h1>
            </div>

            <div class="wish-list mt-10 lg:mx-10 mb-20 pb-10 lg:pb-10 bg-white w-full lg:w-96 md:w-72 md:mr-6 md:-mt-5 relative rounded-l-3xl rounded-r-3xl border-b-4 border-t-4 border-blue-500 shadow-2xl">
                <img src="/assets/img/user-img.png" class="favorite-imgs w-36 mx-auto pt-8 mb-5">
                <!-- <img src="/assets/img/ornaments.png" class="absolute w-20 -top-5 -left-4"> -->
                <h1 class="text-center text-3xl ml-5 mr-5 lg:ml-7 lg:mr-7 font-bold mb-7">Abby</h1>
                <button class="flex mx-auto bg-blue-400 text-white font-bold text-xl px-5 py-2 rounded-l-2xl rounded-r-2xl border-b-4 border-blue-600 hover:bg-blue-600 transition duration 500"><a href="#">Ver perfil</a></button>
                <h1 class=" text-center absolute -bottom-1 w-full font-bold bg-blue-600 text-xl rounded-bl-3xl rounded-br-3xl py-2 text-white"></h1>
            </div>

            <div class="wish-list mt-10 lg:mx-10 mb-20 pb-10 lg:pb-10 bg-white w-full lg:w-96 md:w-72 md:mr-6 md:-mt-5 relative rounded-l-3xl rounded-r-3xl border-b-4 border-t-4 border-blue-500 shadow-2xl">
                <img src="/assets/img/user-img.png" class="favorite-imgs w-36 mx-auto pt-8 mb-5">
                <!-- <img src="/assets/img/ornaments.png" class="absolute w-20 -top-5 -left-4"> -->
                <h1 class="text-center text-3xl ml-5 mr-5 lg:ml-7 lg:mr-7 font-bold mb-7">Eduardo</h1>
                <button class="flex mx-auto bg-blue-400 text-white font-bold text-xl px-5 py-2 rounded-l-2xl rounded-r-2xl border-b-4 border-blue-600 hover:bg-blue-600 transition duration 500"><a href="#">Ver perfil</a></button>
                <h1 class=" text-center absolute -bottom-1 w-full font-bold bg-blue-600 text-xl rounded-bl-3xl rounded-br-3xl py-2 text-white"></h1>
            </div>
        </div>
    </div>
</body>
</html>