<!DOCTYPE html>
<html lang="en">
<head>
    {{> header }}
</head>
<body class="overflow-x-hidden">
    {{> navbar}}
    <div>
        <div class="search-container flex items-center justify-center flex-col relative top-10 pb-14">
            <div class="name-page relative">
                <img src="/assets/img/gift-logo.png" alt="name" class="mt-3 mb-3 w-44 md:mt-0 lg:mt-10 lg:w-52 lg:mb-10" data-aos="fade-up" data-aos-duration="1000">
            </div>
            <input type="text" placeholder="Buscar..." id="filter" class="font-bold text-2xl py-3 px-5 outline-none capitalize focus:bg-gray-100 border-b-2 border-black transition-all duration-500 text-left md:w-9/12 lg:w-3/6 w-10/12 rounded-l-xl rounded-r-xl" data-aos="fade-up" data-aos-duration="2000">
            <div class="user-info shadow-2xl rounded-br-2xl rounded-bl-2xl bg-gray-200 max-h-96 overflow-y-auto lg:w-2/4 md:w-9/12 w-10/12">
                <ul id="result">
                    <li class="flex p-5 hide">
                        <h3 class="font-bold mx-auto py-2 text-xl">Cargando...</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{> footer}}
    <script>
        const result = document.getElementById('result');
        const filter = document.getElementById('filter');
        const listItems = [];

        getData();

        filter.addEventListener('input', (e) => filterData(e.target.value));
        async function getData(){
            const res = await fetch('https://randomuser.me/api?results=50');
            const { results } = await res.json();

            results.innerHTML = '';
            results.forEach(user => {
                const li = document.createElement('li');
                li.innerHTML = `
                <button class="hover:bg-gray-300 w-full">
                    <a href="/usersinfo">
                        <li class="flex p-5 pl-8">
                            <img src="${user.picture.large}" alt="${user.name.first}" class="rounded-full w-24 border-black border-2">
                            <div class="user-info">
                                <h4 class="font-bold text-xl ml-5 mt-5">${user.name.first} ${user.name.last}</h4>
                            </div>    
                        </li>
                    </a>
                </button>
                `;
                
                listItems.push(li);
                result.appendChild(li);
            })
        }

        function filterData(searchTerm){
            listItems.forEach(item => {
                if (item.innerText.toLowerCase().includes(searchTerm.toLowerCase())){
                    item.classList.remove('hide');
                } else{
                    item.classList.add('hide');
                }
            })
        }
    </script>
</body>
</html>