<!DOCTYPE html>
<html lang="en">
<head>
    {{> header }}
</head>
<body class="overflow-x-hidden overflow-y-auto">
    <div>
        {{> navbar }}
        <div class="login-panel w-screen h-screen flex flex-col justify-center items-center md:my-5">
            <form action="/register" method="POST" class="flex flex-col justify-center items-center absolute bg-white rounded-t-3xl rounded-b-3xl bg-opacity-100 shadow-2xl bg-white w-96 md:h-80 md:w-10/12 lg:w-2/4 lg:top-32 lg:p-80 lg:pb-80">
                <img src="assets/img/undraw_male_avatar_323b.svg" class="registerImg bg-cover bg-center w-36 mt-5 md:mt-14 lg:mt-16 md:absolute m
                d:left-20 md:w-36 md:-top-10 lg:w-32 lg:left-auto rounded-full cursor-pointer">
                <h2 class="mt-8 mb-0 font-display font-bold text-3xl mb-7 text-gray-700 text-center md:absolute md:left-24 md:top-36 lg:left-auto lg:mt-8">Registrarse</h2>
                <label class="changePhotoLabel hidden cursor-pointer">
                    <input type="file" id="photoInput" />
                    <h1 class="absolute text-white font-bold top-9 left-0 text-2xl text-center">Cambiar foto</h1>
                </label>
                <div class="relative">
                    <i class="fa fa-user absolute text-yellow-400 text-3xl top-4 -left-9 md:-top-24 md:left-3 lg:-left-72 lg:-top-10"></i>
                    <input type="text" name="displayName" placeholder="Nombre (publico)" class="bg-transparent mb-5 text-xl pt-4 font-display border-b-2 font-bold capitalize outline-none focus:border-yellow-400 transition-all duration-500 w-56 pl-2 pb-2 md:absolute md:left-14 md:-top-28 lg:-left-56 lg:-top-14 lg:text-lg" >
                </div>

                <div class="relative">
                    <i class="fa fa-user absolute text-yellow-400 text-3xl top-4 -left-9 md:-top-24 md:left-3 lg:-left-72 lg:top-7 lg:mt-5"></i>
                    <input type="text" name="username" placeholder="usuario" required class="bg-transparent mb-5 text-xl pt-4 font-display border-b-2 font-bold capitalize outline-none focus:border-yellow-400 transition-all duration-500 w-56 pl-2 pb-2 md:absolute md:left-14 md:-top-28 lg:-left-56 lg:mt-5 lg:top-2 lg:text-lg" >
                </div>

                <div class="relative top-2">
                    <i class="fa fa-envelope absolute text-yellow-400 text-3xl top-4 -left-9 md:-top-7 md:left-3 lg:-left-72 lg:top-24 lg:mt-9"></i>
                    <input type="text" name="email" placeholder="Email" required class="bg-transparent mb-5 text-xl pt-4 font-display border-b-2 font-bold outline-none focus:border-yellow-400 transition-all duration-500 w-56 pl-2 pb-2 md:absolute md:left-14 md:-top-28 md:mt-16 lg:-left-56 lg:top-4 lg:mt-24 lg:text-lg" >
                </div>

                <div class="relative top-2">
                    <i class="fa fa-lock absolute text-yellow-400 text-3xl top-4 -left-9 md:top-7 md:left-3 lg:left-10 lg:-top-10"></i>
                    <input name="password" type="password" placeholder="Contraseña" required class="bg-transparent mb-2 text-xl pt-4 font-display border-b-2 font-bold outline-none focus:border-yellow-400 transition-all duration-500 w-56 pl-2 pb-2 md:absolute md:left-14 md:-top-28 md:mt-32 lg:left-24 lg:-top-48 lg:text-lg" >
                </div>

                <div class="relative">
                    <i class="fa fa-lock absolute text-yellow-400 text-3xl top-4 -left-9 md:top-7 md:left-3 lg:left-10 lg:top-7 lg:mt-5"></i>
                    <input name="password_confirm" type="password" placeholder="Confirmar contraseña" required class="bg-transparent mb-2 text-xl pt-4 font-display border-b-2 font-bold outline-none focus:border-yellow-400 transition-all duration-500 w-56 pl-2 pb-2 md:absolute md:left-14 md:-top-28 md:mt-32 lg:left-24 lg:mt-5 lg:top-2 lg:text-lg">
                </div>

                <input id="img" name="img" type="hidden" value="" />

                <button type="submit" class="py-4 px-14 mt-10 mb-5 bg-yellow-400 rounded-r-xl rounded-l-xl text-white font-bold text-lg hover:bg-yellow-600 transition duration-500 shadow md:absolute md:left-16 md:bottom-0 lg:bottom-0 lg:left-auto">Registrarse</button>
            </form>
        </div>
    </div>

    {{> sweetAlert}}
    {{> footer}}
    <script>
        const changePhotoLabel = document.querySelector('.changePhotoLabel');
        const registerImg = document.querySelector('.registerImg');
        const input = document.querySelector('#photoInput');
        const productImg = document.querySelector('#img');

        input.addEventListener('input', async (e) => {
            if(e.target.files && e.target.files.length > 0) {
                const data = new FormData();
                data.append('productImg', e.target.files[0]);

                const upload = await fetch('{{ uploadImgPath }}', {
                    method: 'POST',
                    body: data
                });

                const response = await upload.json();
                registerImg.setAttribute('src', `uploads/users/${response.result}`);
                productImg.value = response.result;
            }
        });

        registerImg.addEventListener('mouseover', () => changePhotoLabel.classList.toggle('hidden'));
        registerImg.addEventListener('mouseout', () => changePhotoLabel.classList.toggle('hidden'));
    </script>
</body>
</html>