body{
    font-family: "Roboto", sans-serif;
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #e9e4f0,
      #d3cce3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #e9e4f0,
      #d3cce3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-info li.hide{
  display: none;
}

#photoInput{
  width: 50px;
  display: none;
}

.changePhotoLabel{
  position: absolute;
  top: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 65px 65px;
  border-radius: 50%;
}

#uploadGiftLabel{
  padding: 20px 50px;
}

#uploadGiftInput{
  width: 50px;
  display: none;
}

#sendGiftInfo{
  padding: 18px 73px;
}

#giftPhotoLabel{
  position: absolute;
  top: 23px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 65px 65px;
  border-radius: 50%;
}

#giftPhoto{
  width: 50px;
  display: none;
}

#plusIconCreateGift{
  position: absolute;
  left: 49px;
}