<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="mx-auto">
        {{> navbar }}

        <form>
            <div class="makeWish bg-white w-11/12 lg:w-3/6 mx-auto shadow-2xl rounded-l-3xl rounded-r-3xl relative border-b-4 border-red-500">
                <img src="/assets/img/gift-logo.png" class="w-32 lg:w-44 mx-auto mt-10 my-5 pt-10">
                <img src="/assets/img/ornaments.png" class="absolute w-20 -top-5 -left-3">
                <img src="/assets/img/ornaments.png" class="absolute w-10 -bottom-4 -right-2">
                <h1 class="font-bold text-xl text-center">¿Cual es el nombre de tu regalo?</h1>
                <input type="text" placeholder="Nombre..." name="productName" class="font-bold flex mx-auto my-8 border-b-2 border-black py-2 pl-6 pr-10 text-center outline-none">
                <h1 class="font-bold text-xl text-center">Ayuda a los demas con una descripcion</h1>
                <div class="text-center">
                    <textarea placeholder="Descripción..." class="my-10 text-center border-2 border-black w-72 h-24 font-bold pt-2 text-xl"></textarea>
                </div>
                <h1 class="font-bold text-xl text-center">Puedes enseñarnos el regalo?</h1>
                <div class="w-full h-28 text-center">
                    <label id="uploadGiftLabel" class="relative top-10 bg-yellow-400 rounded-l-2xl rounded-r-2xl">
                        <input type="file" name="productImg" id="uploadGiftInput">
                        Subir archivo
                    </label>
                </div>
            </div>
        </form>
    </div>
    
    {{> footer}}
    {{> sweetAlert}}
</body>
</html>